<!doctype html>
<html>
    <head>
        <title>FeedStream - Login</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/normalize.css"
        />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>FeedStream Login</h1>
            </div>
            {{if .Message}}
            <p class="message">{{.Message}}</p>
            {{end}} {{if .Error}}
            <p class="error">{{.Error}}</p>
            {{end}}
            <form method="POST">
                <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    value="{{.Email}}"
                    required
                />
                <input type="text" name="otp" placeholder="OTP" />
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
